*{ margin:0; padding:0;}
ul,ol,li { list-style:none;}
a { text-decoration:none;}
body {line-height:1; }

.slider {width: 100%; position: relative; overflow: hidden;}
.slider .view {width: 500%; display: flex; transition: all 0.7s;}
.slider .view img {width: 100%;}
.slider .view > div {width: 20%; display: flex;}

.left_btn { position: absolute; left: 20px; top: 50%; transform: translateY(-50%);}
.right_btn { position: absolute; right: 20px; top: 50%; transform: translateY(-50%);}